#convert to a edgelist weighted file

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
os.chdir('/content/drive/My Drive/DS Grad School/DS8009 Graph Mining/Assign4/')

In [0]:
import networkx as nx

In [0]:
G = nx.read_gml('hep-th.gml')

In [0]:
nx.write_weighted_edgelist(G,'hep-th_weight.csv',delimiter=',')

In [0]:
ls

Assignment4_Leo.ipynb   hep-th_weight.csv           practice_prims.ipynb
convert_edgelist.ipynb  hep-th_weight-edgefile.csv
hep-th.gml              hep-th-weight.gsheet

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('hep-th_weight.csv', header=None)

In [0]:
df[0:5]

           0     1       2     3     4
0  SARADZHEV     F  DOMBEY     N  1.00
1    ANDRADE   MAD    CIMA   OMD  2.45
2    ANDRADE   MAD  PIGUET     O  0.20
3    ANDRADE   MAD  TOPPAN     F  2.00
4    ANDRADE   MAD  VANCEA    IV  1.00

In [0]:
df[0] = df[0].str.cat(df[1],sep=" ")
df[1] = df[2].str.cat(df[3],sep=" ")
df[2] = df[4].astype(float)

In [0]:
del df[3]
del df[4]

In [0]:
df.to_csv('hep-th_weight-edgefile.csv', index=False, header=False)

In [0]:
df

                     0                  1          2
0         SARADZHEV  F          DOMBEY  N   1.000000
1         ANDRADE  MAD          CIMA  OMD   2.450000
2         ANDRADE  MAD          PIGUET  O   0.200000
3         ANDRADE  MAD          TOPPAN  F   2.000000
4         ANDRADE  MAD         VANCEA  IV   1.000000
5         ANDRADE  MAD        COLATTO  LP   1.450000
6         ANDRADE  MAD    HELAYELNETO  JA   0.950000
7         ANDRADE  MAD          BOLDO  JL   0.250000
8         ANDRADE  MAD        FRANCO  DHT   0.200000
9         ANDRADE  MAD           ROJAS  M   0.500000
10           CIMA  OMD          PIGUET  O   2.366670
11           CIMA  OMD     LANDSTEINER  K   0.500000
12           CIMA  OMD         SCHWEDA  M   1.000000
13           CIMA  OMD        COLATTO  LP   0.950000
14           CIMA  OMD    HELAYELNETO  JA   2.616670
15           CIMA  OMD          BOLDO  JL   0.250000
16           CIMA  OMD        FRANCO  DHT   2.366670
17           CIMA  OMD      GRIMSTRUP  JM   0.500000
18        MARNELIUS  R          QUAADE  U   1.000000
19        MARNELIUS  R         BATALIN  I  11.000000
20        MARNELIUS  R           HWANG  S   0.500000
21        MARNELIUS  R       SALTSIDIS  P   0.500000
22        MARNELIUS  R           FULOP  G   1.000000
23        MARNELIUS  R         SOGAMI  IS   1.000000
24        MARNELIUS  R       SANDSTROM  N   1.000000
25           ROSGEN  M       VARNHAGEN  R   1.000000
26        VARNHAGEN  R  POLYCHRONAKOS  AP   0.250000
27        VARNHAGEN  R         ISAKOV  SB   0.250000
28        VARNHAGEN  R         MYRHEIM  J   0.250000
29        VARNHAGEN  R        LEINAAS  JM   0.250000
...                ...                ...        ...
15721  PAPADOPOULOS  P         REZANIA  V   0.333333
15722       CAMPOS  VL         LARSSON  H   0.250000
15723       BOUKRAA  S        MAILLARD  J   1.000000
15724   BERGSHOEFF  EA           WIT  TCD   0.250000
15725        NIEDER  H            POPP  L   0.250000
15726        CHABAB  M         MARKAZI  R   0.500000
15727     NESTEROV  AI        SABININ  LV   1.000000
15728        ZNOJIL  M    ROYCHOUDHURY  R   0.333333
15729    APFELDORF  KM        ORDONEZ  CR   0.500000
15730          ROOS  M  HARUNORRASHID  SM   1.000000
15731          LOU  SL             WU  SH   1.000000
15732         TSUDA  M       SHIRAFUJI  T   1.000000
15733         MOREL  A          PETROV  K   0.250000
15734        GROOTE  S      PIVOVAROV  AA   1.000000
15735      KHLOPOV  MY       SAKHAROV  AS   0.500000
15736      MIRALLES  D          PARRA  JM   0.500000
15737          KYAE  B            LEE  HM   0.500000
15738        DOWKER  S          GILKEY  P   0.500000
15739    AKHMETSHIN  A       VOLVOVSKY  Y   1.000000
15740    KUZMICHEV  VE      KUZMICHEV  VV   2.000000
15741      BORSANYI  S            SZEP  Z   0.333333
15742        BICHL  AA            PUTZ  V   0.333333
15743      HILMOINE  C        NICLASEN  R   1.000000
15744    BERGERHOFF  B      REINGRUBER  J   1.000000
15745    EIDEMULLER  M           JAMIN  M   0.333333
15746    BRONIOWSKI  W      FLORKOWSKI  W   1.000000
15747          FEI  SM         KURASOV  P   0.500000
15748         STONE  M            PARK  K   0.500000
15749         STONE  M            GARG  A   0.500000
15750          PARK  K            GARG  A   0.500000

[15751 rows x 3 columns]

In [0]:
test = [tuple(x) for x in df.to_records(index=False)]

In [0]:
graph_dict = {}

for a,b,c in test:
  if a in graph_dict:
    graph_dict[a].append((c,a,b))
  else:
    graph_dict[a] = [(c,a,b)]

for a,b,c in test:
  if b in graph_dict:
    graph_dict[b].append((c,b,a))
  else:
    graph_dict[b] = [(c,a,b)]

In [0]:
len(graph_dict.keys())

7610

In [0]:
test[0:5]

[('SARADZHEV  F', 'DOMBEY  N', 1.0),
 ('ANDRADE  MAD', 'CIMA  OMD', 2.45),
 ('ANDRADE  MAD', 'PIGUET  O', 0.2),
 ('ANDRADE  MAD', 'TOPPAN  F', 2.0),
 ('ANDRADE  MAD', 'VANCEA  IV', 1.0)]

In [0]:
test_G = nx.Graph()

In [0]:
test_G.add_weighted_edges_from(test)

In [0]:
nx.is_connected(test_G)

False

In [0]:
mst  = list(nx.minimum_spanning_edges(test_G,algorithm='prim'))

In [0]:
mst_dict = {}

for a,b,c in mst:
  if a in mst_dict:
    mst_dict[a].append((c,a,b))
  else:
    mst_dict[a] = [(c,a,b)]

for a,b,c in mst:
  if b in mst_dict:
    mst_dict[b].append((c,b,a))
  else:
    mst_dict[b] = [(c,a,b)]

In [0]:
len(mst_dict.keys())

7610